{% extends "base.html" %}
{% load static %}
{% block style_block %}
<style>
     .body{
            background-color: whitesmoke;
        }
        a{text-decoration: none;}
        .bg_img{
            background: url("{% static 'images/stu11.jpg'%}"); height:400px; background-size: cover;
        }
        .bg_img2{
            background: url("{% static 'images/stu16.jpg'%}");height: 400px; background-size:cover ;background-attachment: fixed;
        }
        .trans{background: rgba(5, 5, 5, 0.842); height: 400px;}
        .trans2{background:rgba(12, 12, 12, 0.849) ; height: 400px;}
        .btn{border: 2px solid white;}
        h4{
            font-size: 60px;
        }
        .card:hover{
             transform: scale(1.1);transition: 1s;    
        }
        .card{
            height: 280px;
        }
        
       
</style>
{% endblock %}

{% block content_block %}
<section>
    <div class="container-fluid px-0">
        <div class="row px-0 ">
            <div class="col-md-12 top_back  px-0">
                <h1 class="text-center text-white mt-5 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">About Doceo</h1>
                <h3 class="text-center text-white mb-5 pb-5">We'd <i style="color: red;"class="fa fa-heart"></i> to share about us with U </h3>
                <!-- <h5 class="text-white track ">Home > About</h5> -->
                
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-5 mx-auto">
            <div class="col-md-6">
                <h1 class="text-center">Our Values</h1>
                    <p>When it comes to learning a new skill, e-learning sources are preferred more than any physical institute these days. The basic reason is that they are full of convenience and have greater accessibility.</p>
                    <p> The uses of technology have significant implications on the education system. It has enriched the learning processes by making information very much more available to students through educational websites, online libraries and many more learning tools. The conveniences of studying at your own available time and space have make learning more enjoyable than it has ever been. <br> It is the one of the best things that have ever happen to education.</p>
                    <p>It is common that when we learn something new we feel the need to share it with others. This is another purpose of education, sharing knowledge.</p>
            </div>
            <div class="col-md-6  image1">
                <img src="{% static 'images/download (2).jpg'%}" alt="" style="width:100%;height: 400px; border-radius:8%">
            </div>
        </div>
        
        <div class="row bg_img2 mt-5" >
            <div class="col-md-12  text-center trans2">
                <h5 style="color: white; margin-top: 200px;">STARTING ONLINE LEARNING</h5>
                <h1 style="color: white;"> <strong> ENHANCE YOUR SKILLS WITH BEST <br> ONLINE COURCES </strong></h1>
                <button class="btn btn-outline-warning rounded-pill " style="border:2px solid orange ">Get Start Now</button>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h4><strong>Popular Instructors</strong></h4>
            </div>
        </div>
        <div class="row  mt-5">
            <div class="col-md-3 text-center">
                <div class="card shadow shadow-lg">
                    <div class="card-body">
                        <img src="{% static 'images/prof1.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h3>CHRIS PARAK</h3>
                           <p>HTML/CSS</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card shadow shadow-lg">
                    <div class="card-body">
                        <img src="{% static 'images/prof2.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h3>Dr.POOJA</h3>
                           <p>JAVA SCRIPT</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card shadow shadow-lg">
                    <div class="card-body">
                        <img src="{% static 'images/prof3.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h3>Dr. JOSHAN</h3>
                           <p>PYTHON</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card shadow shadow-lg">
                    <div class="card-body">
                        <img src="{% static 'images/prof4.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h3> Dr.VISHAL</h3>
                           <p>AI</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <button class="btn btn-outline-success rounded-pill" data-toggle="collapse" data-target="#abc" style="border:2px solid red">moree....</button>
            </div>
        </div>
        <div id="abc" class="row mt-5 collapse">
            <div class="col-md-3 text-center">
                <div class="card shadow shadow-lg">
                    <div class="card-body">
                        <img src="{% static 'images/prof5.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h1>Ms.Aman</h1>
                           <p>PYTHON</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card shadow shadow-lg">
                    <div class="card-body ">
                        <img src="{% static 'images/prof1.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h1>Mrs.Sharma</h1>
                           <p>BOOTSTAP</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card shadow shadow-lg">
                    <div class="card-body">
                        <img src="{% static 'images/prof2.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h1>Dr.Neeraj Sharma</h1>
                           <p>AJAX</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card shadow shadow-lg">
                    <div class="card-body ">
                        <img src="{% static 'images/prof3.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h1>Harminder</h1>
                           <p>AI</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-light">
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <h1 style="font-size: 40px;">What People Say</h1>
            </div>
        </div>
        <div class="row mt-3 ">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <img src="{% static 'images/prof7.jpg'%}" alt=""  style=" border-radius: 100%; height: 110px;width: 110px;"  data-target="#ab" data-toggle="collapse">
            </div>
            <div class="col-md-2">
                <img src="{% static 'images/prof8.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;" data-toggle="collapse" data-target="#abcd">
            </div>
            <div class="col-md-2">
                <img src="{% static 'images/prof10.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;" data-toggle="collapse" data-target="#abce">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center collapse" id="ab">
            <h3>JOHAN DOE</h3>
            <p>Many of my coworkerss choose to use Doceo for countinuing education.I feel it has the best selection, training and curriculum vs others I have tried. </p>
        </div>
            <div class="col-md-12 text-center collapse" id="abcd">
            <h3>ELLEN LUPTON</h3>
            <p>They are high quality classes and you learn a lot from her videos.Greate Job!!</p>
        </div>
            <div class="col-md-12 text-center collapse" id="abce">
            <h3>JASWINDER KAUR</h3>
            <p>The courses are very simple and up to the exprecations at very cheap prices.Beginner to advanced all the level courses are available   </p>
        </div>
        </div>
        
    </div>
    
</section>



{% endblock %}