{% extends "base_dashboard.html" %}
{% load static %}
{% load bootstrap4 %}
        {% block top_block %}
        <h1 class=" text-white mt-4 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Student Dashboard & Tutor Dashboard</h1>
        {% endblock %}
{% block dashboard %}

<div class="row">
    <div class="col-md-7 mx-auto bg-light my-4 ">
        <h1 class="text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Add Courses</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" name="" id="" value="Add Courses" class="btn btn-warning">
        </form>   
    </div>
</div>
{% if status %}
    <script>
        alert("{{status}}")
        window.location="/my_courses/"
    </script>
{% endif %}


{% endblock %}