{% extends "base.html" %}
{% load static %}
{% block style_block %}
<style>
    th{
        width: 50%;
    }
    .hover:hover{
        box-shadow: 0px 0px 20px black;
    }
</style>

{% endblock %}

        
{% block content_block %}
<div class="container-fluid px-0">
    <div class="row px-0 ">
        <div class="col-md-12 top_back  px-0">
            <h1 class="text-center text-white " style="font-family: 'Satisfy';font-weight: bold;">All Courses </h1>
            {% if abcd %}
            <h3 class="text-center text-white mb-5 pb-5">Total ({{courses|length}}) Result Matched</h3>
            {% endif %}
            <!-- <h5 class="text-white track ">Home > About</h5> -->
            
        </div>
    </div>
</div>

    <div class="row mt-5">
       {% for i in courses %}
        <div class="col-md-4 p-5">
            <div class="card hover">
                <div class="card-body">
                    <div>
                        <img src="/media/{{i.cover_image}}" style="height: 200px; width: 100%;" alt="">
                    </div>
                </div>
                <div class="card-footer">
                    <h3 style="color: blue;">
                        <a href="{% url 'single_course' %}?cid={{i.id}}">{{i.course_title}}</a>
                    </h3>
                        <h4>
                            <p> &#8377; {{i.course_price}}</p>
                        </h4>
                        {% if i.course_type == "F" %}
                            <a href="{% url 'video_view' %}?cid={{i.id}}" type="submit" class="btn btn-success btn-block"> <i class="fa fa-eye"></i>WATCH TUTORIAL </a>
                        {% else %}

                            <form action="{% url 'add_to_cart' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{i.id}}" name="cid" id="">
                                <button type ="submit" class="btn btn-success btn-block">
                                    <i class="fa fa-shopping-cart"></i>
                                    ADD TO CART
                                </button>
                            </form>
                        {% endif %} 
                </div>
            </div>
        </div>

       {% endfor %}
    </div>


{% endblock %}