<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'jquery.js'%}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://use.fontawesome.com/e8fac03b7f.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'animate.css'%}">

{% block style_block%}

{% endblock %}
    <style>
        .top_back{
            background-color: black;
            height: 400px;
            padding-top: 150px;
        }
        .track{
          position: relative;
          bottom: 10px;
          left: 10px;
      }
        .forgot{
            font-size: small;
        }
        .not_reg{
            font-size: small;
        }
       .home_land{
        border-bottom-right-radius: 1000%;border-top-left-radius: 100% ;
        
        background-color: black;
        width: 100%;
        height:600px;
       }
       .left-home{
            position: relative;
            top:200px;
            left: 50px;
            width: 400px;
            float: left;
       }
       .login-home{
        position: relative;
            top:180px;
            float: left;
            left: 20px;
           background-color: blanchedalmond;
           border-radius: 5px;
           width: 100%;
           height: 500px;
       }
       .nav-link{
           color: white;
       }
       .nav_fon{
           color: black;
       }
       .para{
           width: 400px;
    
       }
       #link1,#link2,#link3,#link4,#link5,#link6,#link7,#link8{
           color: white;
       }
	   @media screen and (min-Width:450px) and (max-width: 700px) 
        {
        .ab{
        Background: rgba(212, 61, 180, 0.5);border: 1px solid white;border-radius: 5px;
        }
        }
	   .marginquery{
	   margin-top:20px;
	   margin-bottom:20px;
	   }
	   @media only screen and (max-width: 600px) {
       .marginquery{
	   margin-top:0px;
	   margin-bottom:0px;
	   }
       }
	   .loginformmarginquery{
	   margin-top:0px;
	   
	   }
	   @media only screen and (max-width: 600px) {
  .loginformmarginquery{
	   margin-top:30px;
  }
	   }
	   
	   .learnthewaymarginquery{
	   margin-top:0px;
       margin-bottom: 100px;
	   
	   }
	   @media only screen and (max-width: 600px) {
  .learnthewaymarginquery{
	   margin-top:250px;
       margin-bottom: 100px;
  }   
	   }
	   .go_at_3{
           background-color: black;
       }
    
        	.custom-toggler.navbar-toggler {
        border:3px solid rgb(255,102,203);
        }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    .nav-link:hover{
background-color:#FFCC00 ;
}
        .heading{
            font-size: 30px;
            /* position: relative; */
            line-height: 100px;
        }
       .navbar-brand{
           font-size: 40px;
           font-weight: bold;
       }

        .foottop{
        background-color:black;
        }
        .footlink{
        color:white;
        }
        
        .footlink:hover{
        color:darkcyan;
        }
        .footbot{
        background-color:#909190;
        }
        .footerlink{
                color: white; text-decoration:none;font-size: 20px;
               }
               .footerlink:hover{
                   color:darkcyan;
                   text-decoration: none;
               }
        </style>
           
</head>
<body>
    <div class="container-fluid">
        <!-- NAVBAR STARTS -->
        <div class="row">
            <div class="col-md-12 px-0">
                <nav class="navbar navbar-expand-md navbar-dark" id="task" style="z-index:999; background-color:none; width:100%;position:fixed; top:0px;height: 101px;">
                    <a href="{% url 'home'%}" class="navbar-brand pl-5" id="logo">DOCEO</a>
                    <button class="navbar-toggler ml-auto custom-toggler" data-target="#mymenu" data-toggle="collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="mymenu" class="navbar-collapse collapse ">
                    
                    <ul class="navbar-nav mx-auto" style="word-spacing: 0px;font-weight: bold;font-size: 20px;">
                        <li class="nav-item ab" >
                            <a href="{% url 'home'%}" class="nav-link   mr-5 " id="link1">Home</a>
                        </li>
                        <li class="nav-item ab">
                            <a href="{% url 'about'%}" class="nav-link  mr-5 "id="link2" >About Us</a>
                        </li>
                        <li class="nav-item ab">
                            <a href="{% url 'courses'%}"class="nav-link  mr-5 " id="link3" >Courses</a>
                        </li>
                        <li class="nav-item ab">
                            <a href="{% url 'all_courses'%}"class="nav-link  mr-5 nav_fon " id="link7" >All Courses</a>
                        </li>
                        <li class="nav-item ab">
                            <a href="{% url 'category_view' %}" class="nav-link mr-5"  id="link8">Categories</a>
                        </li>
                        <li class="nav-item ab">
                            <a href="{% url 'contact'%}" class="nav-link  mr-5"id="link6">Contact</a>
                        </li>
                    </ul>
                    </div>
                    <div class="row">
                        {% if user.is_authenticated %}
                            <div class="col-md-12">
                                <a href="{% url 'user_logout'%}"class="btn d-none d-md-block btn-outline-warning btn-lg rounded-pill " ><b>LOGOUT</b></a>
                            </div>
                            <!-- <div class="col-md-12">
                                <a href="stu_dashboard">Welcome {{user.username}}</a>
                            </div> -->
                        {% else %}
                            <div class="col-md-12">
                                <button type="button" class="btn d-none d-md-block btn-outline-warning btn-lg rounded-pill " data-toggle="modal" data-target="#myModal"><b>LOGIN</b></button>
                                
                            </div>
                            <div class="col-md-12">
                                <a href="" class="forgot" data-toggle="modal" data-target="#not_reg">Not Registered Yet?</a>
                            </div>
                        {% endif%}
                        
                    </div>
                    


                </nav>
                <!-- LOGIN MODAL STARTS -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modalcontent-->
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title ml-5 ">Log in</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        <div class="modal-body px-0">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-8 mx-auto   ">
                                        <form action="{% url 'user_login' %}" method="POST" >
                                            {% csrf_token %}
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                                </div>
                                                <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                              </div>
                                              <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                                                </div>
                                                <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                                              </div>
                                        
                                        <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input type="checkbox" name="remme"> <em> keep me signed in</em>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                    </div>
                                        <div class="form-group mt-2">
                                            <input type="submit" value="Login" class="btn btn-outline-warning rounded-pill btn-block">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="{% url 'forgotpass' %}" class="forgot" >Forgot Password?</a>
                                            </div>
                                            <div class="col-md-6" >
                                                <a href="" class="forgot" data-toggle="modal" data-target="#not_reg">Not Registered Yet?</a>
                                            </div>
                                        </div>
                                        
                                    </form>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    </div>
                </div>
                <!-- LOGIN MODAL ENDS -->
                <!-- REGISTRATION MODAL STARTS -->
                <div id="not_reg" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modalcontent-->
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h3 class="modal-title text-center">Register Here</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        <div class="modal-body px-0">
                            <div class="container-fluid">
                                <div class="row px-5">
                                    <div class="col-md-12 mx-auto">
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <!-- FIRST NAME AND LAST NAME -->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                          <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                                        </div>
                                                        <input type="text" name="fname" class="form-control" placeholder="First Name" aria-label="Username" aria-describedby="basic-addon1" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                          <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                                        </div>
                                                        <input type="text" name="lname" class="form-control" placeholder="Last Name" aria-label="Username" aria-describedby="basic-addon1" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- USERNAME -->
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                                </div>
                                                <input id="username" onkeyup="checkusername()" type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required>
                                            </div>
                                            <div class="input-group">
                                                <h6 id="result"></h6>
                                            </div>
                                            <!-- EMAIL -->
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                                                </div>
                                                <input name="email" type="text" class="form-control" placeholder="E-mail" aria-label="Username" aria-describedby="basic-addon1" required>
                                            </div>
                                            <!-- CONTACT -->
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone"></i></span>
                                                </div>
                                                <input name="contact" type="number" class="form-control" placeholder="Contact Number" aria-label="Username" aria-describedby="basic-addon1" pattern="[0-9]{10}" title="Contact Number must contain 10 digits" required>
                                            </div>
                                            <!-- USERTYPE STUDENT OR TEACHER -->
                                            <div class="input-group mb-3">
                                               <select class="form-control" name="utype" id="">
                                                   <option value="stu">Student</option>
                                                   <option value="tut">Tutor</option>
                                               </select>
                                            </div>
                                            <!-- PASSWORD -->
                                              <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                                                </div>
                                                <input name="password" type="password" class="form-control" id="pas" onkeyup="check_pass()"  placeholder="Password" aria-label="Username" aria-describedby="basic-addon1" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" 
                                                    title="Password must contain atleast 8 characters(uppercase,lowercase,number,special symbol)" required>
                                              </div>
                                            <!-- REPEAT PASSWORD -->
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                                                </div>
                                                <input type="password" name="rpassword" class="form-control" id="cpas" onkeyup="check_pass()" placeholder="Repeat Password" aria-label="Username" aria-describedby="basic-addon1" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" 
                                                    title="Password must contain atleast 8 characters(uppercase,lowercase,number,special symbol)" required>
                                            </div>
                                        <!-- SUBMIT BUTTON OR CREATE ACCOUNT -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group mt-2">
                                                    <input id="submitbtn" type="submit" value="Create Account" class="btn btn-outline-warning rounded-pill btn-block">
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="" class="forgot" data-toggle="modal" data-target="#forgot_pass">Forgot Password?</a>
                                            </div>
                                            <div class="col-md-6" >
                                                <a href="" class="forgot" data-toggle="modal" data-target="#not_reg">Not Registered Yet?</a>
                                            </div>
                                        </div>
                                        
                                    </form>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    </div>
                </div>
                <!-- REGISTRATION MODAL ENDS -->
            </div>
        </div>
        <!-- NAVBAR ENDS -->

        {% block content_block %}

        {% endblock %}

        <!-- FOOTER STARTS -->
        <div class="row foottop">
		
            <div class="col-md-3 m-5">
           <h1 style="color: white;">DOCEO</h1>
           <p style="color: white;">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam.</p>
           <a href="#" class="footlink"><i class="fa fa-phone"></i>&nbsp;(+91) 7696738976<br/><br/></a>
           <a href="#" class="footlink"><i class="fa fa-envelope-square"></i>&nbsp;contact@doceo.com<br/><br/></a>
           <a href="#" class="footlink"><i class="fa fa-map-marker"></i>&nbsp;SachTech Solutions, Mohali</a>
           </div>
           <div class="col-md-3 m-5">
               <h3  style="color: white;">Customer Service</h3>
                   <a class="footerlink" href="#" >Blog</a><br>
                   <a class="footerlink" href="#" >Video Gallery</a><br>
                   <a class="footerlink" href="#" >Awards & Recognition</a><br>
                   <a class="footerlink" href="#" >Resort Policies</a><br>
                   <a class="footerlink" href="#" >Careers</a><br>
                   <a class="footerlink" href="#" >Privacy Statement</a><br>
           </div>
           <div class="col-md-3 m-5">
               <h3 style="color: white;" >Newsletter Subscription</h3><br>
               <input type="text" placeholder="Email" style="width:100%;border:2px solid darkcyan;height:40px;background:none;color:white;outline: none;padding-left: 5px;">
               <br><br>
               <button style="width:100%;border:2px solid darkcyan;background-color: black;height: 40px;color:white">SUBSCRIBE NOW</button>
           
           </div>
           
               
           <div class="col-md-12 footbot">
           <h3 class="text-center text-white py-2" style="font-family: 'Satisfy';">Follow us on</h3>
           <h3 class="text-center text-white"><i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-instagram"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-youtube"></i></h3>
   
           </div>
       </div>
       <!-- FOOTER ENDS -->
    </div>

    <!-- NAVBAR SCRIPT FOR RESIZING NAVBAR -->
    <script>
        // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
            document.getElementById("task").style.padding = "0px 0px";
            document.getElementById("task").style.backgroundColor = "white";
            document.getElementById("task").style.opacity = "1";
            document.getElementById("task").style.height= "80px";
            
            document.getElementById("logo").style.transition= ".5s";
            document.getElementById("logo").style.color= "black";
            document.getElementById("link1").style.transition= ".5s";
            document.getElementById("link1").style.color= "black";

            document.getElementById("link2").style.transition= ".5s";
            document.getElementById("link2").style.color= "black";

            document.getElementById("link3").style.transition= ".5s";
            document.getElementById("link3").style.color= "black";

            
            
            document.getElementById("link6").style.transition= ".5s";
            document.getElementById("link6").style.color= "black";
            
            document.getElementById("link7").style.transition= ".5s";
            document.getElementById("link7").style.color= "black";
            
            document.getElementById("link8").style.transition= ".5s";
            document.getElementById("link8").style.color= "black";


            document.getElementById("task").style.transition= ".5s";  
          } 
        else {
            
            document.getElementById("task").style.height= "101px";
            //document.getElementById("task").style.padding = "10px 10px 10px 10px";
            document.getElementById("task").style.backgroundColor = "rgba(112, 112, 156,0)";
            document.getElementById("task").style.transition= ".5s";
            document.getElementById("logo").style.transition= ".5s";
            document.getElementById("logo").style.color= "white";
            document.getElementById("link1").style.transition= ".5s";
            document.getElementById("link1").style.color= "white";

            document.getElementById("link2").style.transition= ".5s";
            document.getElementById("link2").style.color= "white";

            document.getElementById("link3").style.transition= ".5s";
            document.getElementById("link3").style.color= "white";

            
            
            document.getElementById("link6").style.transition= ".5s";
            document.getElementById("link6").style.color= "white";
            
            document.getElementById("link7").style.transition= ".5s";
            document.getElementById("link7").style.color= "white";
            
            document.getElementById("link8").style.transition= ".5s";
            document.getElementById("link8").style.color= "white";

             }
        }
    </script>
    <!-- CHECK USERNAME SCRIPT STARTS -->
    <script>
        function checkusername(){
            let un=document.getElementById("username").value;
            $.ajax({
                url:"{% url 'check_user' %}",
                type:"get",
                data:{usern:un},
                success:function(data){
                    if (data=="exists"){
                        $("#result").html("Username is already Taken!!").css("color","red");
                        $("#submitbtn").attr("disabled","disabled");
                    }
                    else{
                        $("#result").html("Username Available").css("color","green");
                        $("#submitbtn").removeAttr("disabled","disabled");
                    }

                    
                }
            })
            }
    </script>
    <!-- CHECK USERNAME SCRIPT ENDS -->
    {% if status %}
        <script>
            alert("{{status}}");
        </script>
    {% endif %}
    {% if invalid_login %}
        <script>
            alert("{{invalid_login}}")
        </script>
    {% endif %}
    <script>
        function check_pass(){
            let p= $("#pas").val();
            let cp= $("#cpas").val();
            
            if(p==cp){
                $("#pas").css("border","2px  solid green");
                $("#cpas").css("border","2px  solid green");
                $("#submitbtn").removeAttr("disabled");
    
            }else{
                $("#pas").css("border","2px  solid red");
                $("#cpas").css("border","2px  solid red");
                $("#submitbtn").attr("disabled","disabled");
            }
        }
    </script>    
    
</body>
</html>