{% extends "base.html" %}
{% load static %}
{% block style_block %}
<style>
    .detail_back{
            background-color: black;
            height: 200px;
            padding-top: 70px;
        }
.stuimg{
    background-size: 100% 100%;
    height: 400px;
    width: 500px;
}
.side_menu_ul{
background-color: black;
}
.nav_bar{
    background-color: black;
    
}
.user_img{
    width: 80px;
    height: 80px;
    border-radius: 50% 50%;
}
.view_img{
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
}
.full_name_display{
    font-family: 'Satisfy';font-weight: bold;
    position: absolute; right: 10px;
    color: greenyellow;
}

</style>
{% endblock %}


{% block content_block%}
{% if user.is_superuser %}
    
    <div class="row bg-dark">
        <div class="col-md-12 mt-5 p-5">
            
        </div>
    </div>
    
    <div class="row " style="background: url('/static/images/fb2.jpg'); background-size: 100% 100%;">
        <div class="col-md-12  " style="background: rgba(204, 33, 195, 0.5);" >
        
            <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color:white;" class="m-5 p-5" >Sorry Mr./Miss {{user.username}} Admin is not Allowed To Access This Page!!!!</h1>
         
        </div>
    </div>
    
    <!-- <div class="row">
        <div class="col-md-12">
            <img src="{% static 'images/fb2.jpg'%}" style="height: 400px; width:100%;" alt="">
        </div>
    </div> -->
    


{% else %}
<!-- TOP HEADER DISPLAYS STUDENT DASHBOARD OR TUTOR DASHBOARD -->
<div class="row px-0 ">
    <div class="col-md-12 detail_back  px-0 text-center">
        {% block top_block %}

        {% endblock %}
        
        <h3 class="text-center full_name_display" >Welcome {{user.first_name}} {{user.last_name}}</h3>
        
        
    </div>
</div>
<!-- TOP HEADER DISPLAYS STUDENT DASHBOARD OR TUTOR DASHBOARD ENDS-->
<div class="row my-5">
    <!-- LEFT SIDE CONTROL PANEL -->
    <div class="col-md-2 border-right px-0">
        
        <nav class="navbar px-0">
            <!-- PROFILE PIC, USER_NAME, PHONE NUMBER AND EMAIL DISPLAYS LEFT SIDE -->
        <div class="row px-0">
            <div class="col-md-4">
                {% if data.profile_pic %}
                <img src="/media/{{data.profile_pic}}" class="user_img" alt="">
                {% else %}
                <img src="{% static '/images/icon_img.jpg'%}" class="user_img" alt=""> 
                {% endif %}       
            </div>
            <div class="col-md-8">
                <h4>{{user.username}}</h4>
                <small><i class="fa fa-phone"></i> {{data.phone}}<br>
                <i class="fa fa-envelope-square"></i> {{user.email}}</small>
            </div>
        </div>
        <!-- PROFILE PIC, USER_NAME, PHONE NUMBER AND EMAIL DISPLAYS LEFT SIDE ENDS-->
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a href="{% url 'stu_dashboard'%}" class="btn btn-outline-secondary my-1 w-100" >VIEW PROFILE</a>        
                </li>
                <li class="nav-item">
                    <a href="{% url 'edit_profile'%}" class="btn btn-outline-secondary my-1 w-100" > PROFILE SETTINGS</a>        
                </li>
                <li class="nav-item">
                    <a href="{% url 'change_password'%}" class="btn btn-outline-secondary my-1 w-100"  >CHANGE PASSWORD</a>        
                </li>
                {% if user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'add_course_view' %}" class="btn btn-outline-secondary my-1 w-100"  >ADD COURSES</a>        
                </li>
                <li class="nav-item">
                    <a href="{% url 'my_courses' %}" class="btn btn-outline-secondary my-1 w-100"  >UPLOADED COURSES</a>        
                </li>
                <li class="nav-item">
                    <a href="{% url 'my_stu' %}" class="btn btn-outline-secondary my-1 w-100"  >MY STUDENTS</a>        
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'sendemail'%}" class="btn btn-outline-secondary my-1 w-100">SEND EMAILS</a>        
                </li>
                {% if not user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'add_to_cart'%}" class="btn btn-outline-secondary my-1 w-100">MY CART</a>        
                </li>
                <li class="nav-item">
                    <a href="{% url 'order_history'%}" class="btn btn-outline-secondary my-1 w-100">MY COURSES</a>        
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'user_logout'%}" class="btn btn-outline-secondary my-1 w-100">LOGOUT</a>        
                </li>
            </ul>
            
        </nav>
        
    </div>
    <div class="col-md-8">
        {% block dashboard %}

        {% endblock %}

    </div>
    
</div>
<!-- VIEW PROFILE STARTS -->
<div id="viewprofile" class="modal fade p-2" >
    <div class="modal-dialog modal-lg" style="width: 700px;">
        <!-- Modalcontent-->
        <div class="modal-content">
            <div class="modal-header text-center">
                
               
                <h1>View Profile</h1><img src="/media/{{data.profile_pic}}" class="view_img border ml-3 border-secondary"alt="">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 p-2">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>User Id</th><td>{{user.id}}</td><th>User Name</th><td>{{user.username}}</td>
                                    </tr>
                                    <tr>
                                        <th>Full Name</th><td>{{user.first_name}} {{user.last_name}}</td><th>Contact Number</th><td>{{data.phone}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <th>Email</th><td>{{user.email}}</td><th>Last Course</th><td>{{data.education}}</td>
                                    </tr>
                                    <tr>
                                        <th>Age</th><td>{{data.age}}</td><th>Gender</th><td>{{data.gender}}</td>
                                    </tr>
                                    <tr>
                                        <th>City</th><td>{{data.city}}</td><th>Current Status</th><td>{{data.current_status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                    
                </div>
            </div>
</div>
</div>
</div>
</div>

<!-- VIEW PROFILE ENDS -->

<!-- EDIT PROFILE STARTS -->
<div id="editprofile" class="modal fade" >
    <div class="modal-dialog modal-xl">
        <!-- Modalcontent-->
        <div class="modal-content">
            <div class="modal-header text-center">
                
               
                <h1>Edit Profile</h1>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                    
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token%}
                                {% if status %}
                                    <div class="alert alert-primary">{{status}}</div>
                                {% endif %}
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>First Name</th><td><div class="form-group"><input type="text" class="form-control" name="fname" value="{{user.first_name}}"></div></td>
                                            <th>Last Name</th><td><div class="form-group"><input type="text" class="form-control" name="lname" value="{{user.last_name}}"></div></td>
                                        </tr>
                                        <tr>
                                            <th>Profile Pic</th><td><div class="form-group"><input type="file" class="form-control" name="profile_pic"  width="100"></div></td>
                                            <th>Email</th><td><div class="form-group"><input type="email" class="form-control" name="email" value="{{user.email}}"></div></td>
                                        </tr>
                                        
                                        <tr>
                                            <th>Contact Number</th><td><div class="form-group"><input type="text" class="form-control" name="contact" value="{{data.phone}}" pattern="[0-9]{10}" title="Number Must Contains 10 Digits only"></div></td>
                                            <th>Age</th><td><div class="form-group"><input type="number" class="form-control" name="age" value="{{data.age}}" min="15" max="99"></div></td>
                                        </tr>
                                        <tr>
                                        <th>City</th><td><div class="form-group"><input type="text" class="form-control" name="city" value="{{data.city}}"></div></td>
                                        <th>Gender</th><td><div class="form-group">
                                            <select name="gen" id="" class="form-control">
                                            
                                                <option value="Male">Male</option>
                                                {% if data.gender == "Female" %}
                                                <option value="Female" selected>Female</option>
                                                {% else %}
                                                <option value="Female">Female</option>
                                                {% endif%}
                                        </select></td>
                                        </tr>
                                        <tr>
                                            <th>Last Course or Degree</th><td><div class="form-group"><input type="text" class="form-control" name="education" value="{{data.education}}"></div></td>
                                            <th>Current Status</th><td><div class="form-group"><input type="text" class="form-control" name="current_status" value="{{data.current_status}}"></div></td>
                                        </tr>
                                        
                                        
                                    </tbody>
                                    
                                </table>
                                <div class="form-group">
                                    <input type="submit" id="subbtn" class="form-control btn btn-warning text-white" value="Update Profile">
                                </div>
                            </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- EDIT PROFILE ENDS -->
<!-- CHANGE PASSWORD -->

<div  id="changepassword" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h1>Change Password</h1>
                    {% if msz %}
                        <div class="alert {{col}}">{{msz}}</div>
                    {% endif %}
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 p-2">
                                <form action="" method="post">
                                {% csrf_token %}
                                    <div class="form-group">
                                        <label for="">Current Password</label>
                                        <input type="password" name="cpwd" id="" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="">New Password</label>
                                        <input type="password" name="npwd" id="pas" onkeyup="check_pass()"  class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Confirm Password</label>
                                        <input type="password" name="" id="cpas" onkeyup="check_pass()"  class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit"  value="Reset Password" class=" form-control btn btn-warning text-light" name="" id="subbtn">
                                    </div>
                                </form>
                        
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <script>
        function check_pass(){
            let p= $("#pas").val();
            let cp= $("#cpas").val();
            
            if(p==cp){
                $("#pas").css("border","2px  solid green");
                $("#cpas").css("border","2px  solid green");
                $("#subbtn").removeAttr("disabled");
    
            }else{
                $("#pas").css("border","2px  solid red");
                $("#cpas").css("border","2px  solid red");
                $("#subbtn").attr("disabled","disabled");
            }
        }
    </script>

<!-- CHANGE PASSWORD ENDS--> 
{% endif %}
{% block my_block %}

{% endblock %}
{% endblock %}