{% extends "base.html" %}
{% load static %}
{% block style_block %}
<style>
    th{
        width: 50%;
    }
    .hover:hover{
        box-shadow: 0px 0px 20px black;
    }
</style>

{% endblock %}

        
{% block content_block %}
{% if user.is_superuser %}
<div class="row px-0 ">
    <div class="col-md-12 top_back  px-0">
        
        <h1 class="text-center text-white " style="font-family: 'Satisfy';font-weight: bold;">You are not allowede Here </h1>
    </div>
</div>
{% else %}
{% if items|length == 0 %}
<div class="row px-0 ">
    <div class="col-md-12 top_back  px-0">
        
        <h1 class="text-center text-white " style="font-family: 'Satisfy';font-weight: bold;">Your  Cart is Empty </h1>
    </div>
</div>

{% else %}
    <div class="row px-0 ">
        <div class="col-md-12 top_back  px-0">
            {% if status %}
            <h1 class="text-center text-white " style="font-family: 'Satisfy';font-weight: bold;">{{status}} </h1>
            {% else %}
            <h1 class="text-center text-white " style="font-family: 'Satisfy';font-weight: bold;">My Cart{{items|length}} </h1>
            {% endif %}
            <!-- <h5 class="text-white track ">Home > About</h5> -->
            
        </div>
    </div>
{% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-8 my-5" >
            <div style="box-shadow:0px 0px 25px gray;">
                {% if msz %}
                    <div class="{{cls}}" >{{msz}}</div>
                {% endif %}
                <table class="table table-striped table-hover">
                    <thead class="thead thead-dark">
                        <tr>
                            <th>Image</th>
                            <th>Course Name</th>
                            <th>Course Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in items %}
                            <tr id="row{{i.id}}">
                                <td><img src="/media/{{i.course.cover_image}}" style="height: 100ox; width: 100px;" alt=""></td>
                                <td>{{i.course.course_title}}</td>
                                <td>&#8377;{{i.course.course_price}}</td>
                                <td><button onclick="remove_cart('{{i.id}}')" class="btn btn-danger"><i class="fa fa-trash"> Remove</i></button></td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>    
            </div>

        </div>
        <div class="col-md-4 my-5"  >
            <div style="box-shadow:0px 0px 25px gray;">
                <table class="table table-striped table-hover">
                    <h2 class="text-center"><strong>CHECKOUT</strong></h2>
                    {% for i in items %}
                    <tr>
                        <td><strong>COURSE NAME</strong></td>
                        <td >{{i.course.course_title}}({{i.id}})</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><strong> TOTAL COURSE</strong></td>
                        <td id="item_total"></td>
                    </tr>
                    <tr>
                        <td><strong>GRAND TOTAL</strong></td>
                        <td id="grand_total"></td>
                    </tr>

                </table>
                <div>
                    <a href="{% url 'process_payment' %}" class="btn btn-success btn-block btn-sm">PROCEED TO PAY  <span id="btamp"></span></a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function grandtotal(){
            $.ajax({
                url:"{% url 'get_cart_data' %}",
                type:'get',
                success:function(data){
                    $("#item_total").html("&#8377;"+data.total)
                    $("#grand_total").html("&#8377;"+data.total)
                }
            })
        }
        grandtotal()

        function remove_cart(id){
            $.ajax({
                url:"{% url 'change_quan' %}",
                data:{delete_cart:id},
                success:function(data){
                    grandtotal();
                    $("#row"+id).hide();
                }
            })
        }
    </script>

{% endif %}    
{% endif %}    

{% endif %}

   

{% endblock %}