{% extends "base.html" %}
{% load static %}
{% block style_block %}
<style>
    h1{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;color: blue;
    }
    .myimg{
        height: 300px;
    }
    .box:hover{
        height: 100%; width: 100%;background: rgba(177, 56, 127, 0.5);color: white;text-align: justify;
    }
   
</style>    
{% endblock %}
{% block content_block %}
<div class="container-fluid px-0">
    <div class="row px-0">
        <div class="col-md-12 bg-dark p-5 px-0">
            <h1 class="text-center text-white mt-5 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Categories</h1>
            <h3 class="text-center text-white mb-5 pb-5"></h3>
        
        </div>
    </div>
</div>
    <div class="row mt-5">
        <div class="col-md-12 ">
           <h1 class="text-center"></h1>
        </div>
        <div class="container">
            <form action="{% url 'all_courses' %}">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text"  name="qry" class="form-control" placeholder="Search by Course Name" name="" id="">
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </div>
        </form>
        </div>
        {% for c in category %}
            <div class="col-md-4 p-4 text-center">
                <div style ="box-shadow: 0px 0px 20px gray;background: url('/media/{{c.cover_pic}}'); background-size:100% 100%"  class="myimg">
                    <!-- <img src="/media/{{c.cover_pic}}" height="200"> -->
                    <a href="{% url 'all_courses' %}?cat={{c.id}}">
                        <div  class="box" style="height: 300px;">
                            <h1>{{c.name}}</h1>
                            <p>{{c.description}}</p>
                        </div>
                    </a>
                </div>

            </div>

        {% endfor %}
    </div>
{% endblock  %} 