{% extends "base_dashboard.html" %}
        {% block top_block %}
        <h1 class=" text-white mt-4 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Student Dashboard & Tutor Dashboard</h1>
        {% endblock %}

{% block dashboard %} 
<section>
<div class="container">
    <div class="row">
        <div class="col-md-7 mx-auto bg-light ">
            <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Change Password</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 p-2 mx-auto bg-light">
                <form action="" method="post">
                {% csrf_token %}
                {% if msz %}
                    <div class="alert {{col}}">{{msz}}</div>
                {% endif %}    
                    <div class="form-group">
                        <label for="">Current Password</label>
                        <input type="password" name="cpwd" id="" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">New Password</label>
                        <input type="password" name="npwd" id="pas" onkeyup="check_pass()"  class="form-control" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Password must contain atleast 8 characters(uppercase,lowercase,number,special symbol)" required>
                    </div>
                    <div class="form-group">
                        <label for="">Confirm Password</label>
                        <input type="password" name="" id="cpas" onkeyup="check_pass()"  class="form-control" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Password must contain atleast 8 characters(uppercase,lowercase,number,special symbol)" required>
                    </div>
                    <div class="form-group">
                        <input type="submit"  value="Reset Password" class=" form-control btn btn-warning text-light" name="" id="subbtn">
                    </div>
                </form>
                        
        </div>
    </div>
</div>
</section>
<script>
        function check_pass(){
            let p= $("#pas").val();
            let cp= $("#cpas").val();
            
            if(p==cp){
                $("#pas").css("border","2px  solid green");
                $("#cpas").css("border","2px  solid green");
                $("#subbtn").removeAttr("disabled");
    
            }else{
                $("#pas").css("border","2px  solid red");
                $("#cpas").css("border","2px  solid red");
                $("#subbtn").attr("disabled","disabled");
            }
        }
    </script>
{% endblock %}