{% extends "base.html" %}
{% load static %}
{% block style_block%}
<style>
.detail_back{
            background-color: black;
            height: 300px;
            padding-top: 100px;
        }
.ullist_style{
list-style: none;


}
.list_style{
    background-color: blue;


}

</style>

{% endblock %}
{% block content_block%}
<div class="row px-0 ">
    <div class="col-md-12 detail_back  px-0">
        <h1 class="text-center text-white mt-5 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Topic Name</h1>
        <!-- <h3 class="text-center text-white mb-5 pb-5">We'd <i style="color: red;"class="fa fa-heart"></i> to share about us with U </h3> -->
        <!-- <h5 class="text-white track ">Home > About</h5> -->
        
    </div>
</div>
<div class="row my-5">
    <div class="col-md-3 border border-secondary p-3 ml-1">
        <ul class="ullist_style px-0 ">
            <li class="text-center p-1 active list_style mb-1"><a href="" class="text-white h6">Topic 1</a></li>
            <li class="text-center p-1 list_style mb-1"><a href="" class="text-white h6">Topic 2</a></li>
            <li class="text-center p-1 list_style mb-1"><a href="" class="text-white h6">Topic 3</a></li>
            <li class="text-center p-1 list_style mb-1"><a href="" class="text-white h6">Topic 4</a></li>
            <li class="text-center p-1 list_style mb-1"><a href="" class="text-white h6">Topic 5</a></li>
            <li class="text-center p-1 list_style mb-1"><a href="" class="text-white h6">Topic 6</a></li>
            <li class="text-center p-1 list_style mb-1"><a href="" class="text-white h6">Topic 7</a></li>
            <li class="text-center p-1 list_style mb-1"><a href="" class="text-white h6">Topic 8</a></li>
            <li class="text-center p-1 list_style mb-1"><a href="" class="text-white h6">Topic 9</a></li>
            <li class="text-center p-1 list_style mb-1"><a href="" class="text-white h6">Topic 10</a></li>
        </ul>
    </div>
    <div class="col-md-8 border border-secondary p-3 mx-auto text-center">
        <h3>Topic Detail</h3>
        <p>Topic Description <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia labore deleniti voluptatem cupiditate adipisci porro! At, quisquam cupiditate. Assumenda vel exercitationem perferendis eaque corporis fugit id atque error quisquam!
        </p>
        <h3>-----------Topic Content-------------</h3>
    </div>
</div>
<div class="row mt-5">
      {% for i in courses %}
        <div class="col-md-4 p-5">
            <div class="card hover">
                <div class="card-body">
                    <div>
                        <img src="/media/{{i.cover_image}}" style="height: 200px; width: 100%;" alt="">
                    </div>
                </div>
                <div class="card-footer">
                    <h3 style="color: blue;">
                        <a href="{% url 'single_course' %}?cid={{i.id}}">{{i.course_title}}</a>
                    </h3>
                        <h4>
                            <p> &#8377; {{i.course_price}}</p>
                        </h4>
                </div>
            </div>
        </div>

      {% endfor %}
  </div>
{% endblock %}