{% extends "base_dashboard.html" %}
{% load static %}
   
    {% block top_block %}
    <h1 class=" text-white mt-4 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Student Dashboard & Tutor Dashboard</h1>
    {% endblock %}



{% block dashboard %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto p-4">
                <div class="card shadow shadow-lg">
                    <div class="card-body">
                        <h3 class="text-danger m-3 ">Are you sure want to delete???</h3>
                        <img src="/media/{{course.cover_image}}"  style="height: 300px; width:100%" alt="">
                        <h3 class="text-center mt-3 " style="color: blueviolet;"> <strong>{{course.course_title}}</strong></h3>
                        <div class="col-md-6 mt-4">
                            <a href="{% url 'delete_course' %}?cid={{course.id}}&&action=confirm" class="btn btn-danger">Confirm Delete</a>
                            <a href="{% url 'my_courses' %}" class="btn btn-warning">Cancel</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% if status %}
    <script>
        alert("{{status}}");
        window.location = "/my_courses/"
        
    </script>

{% endif %}
{% endblock %}
