{% extends "base_dashboard.html" %}
    {% block top_block %}
    <h1 class=" text-white mt-4 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Student Dashboard & Tutor Dashboard</h1>
    {% endblock %}

{% block dashboard %} 
<div class="row">
    <div class="col-md-12">
        <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Edit Profile</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
            <img src="/media/{{data.profile_pic}}" style="height: 70px; width:70px;border-radius: 100%;" alt="">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token%}
                {% if status %}
                    <div class="alert alert-primary">{{status}}</div>
                {% endif %}
                <table class="table">
                    <tbody>
                        <tr>
                            <th>First Name</th><td><div class="form-group"><input type="text" class="form-control" name="firstname" value="{{user.first_name}}"></div></td>
                            <th>Last Name</th><td><div class="form-group"><input type="text" class="form-control" name="lastname" value="{{user.last_name}}"></div></td>
                        </tr>
                        <tr>
                            <th>Profile Pic</th><td><div class="form-group"><input type="file" class="form-control" name="profile_pic"  width="100"></div></td>
                            <th>Email</th><td><div class="form-group"><input type="email" class="form-control" name="email" value="{{user.email}}"></div></td>
                        </tr>
                        
                        <tr>
                            <th>Contact Number</th><td><div class="form-group"><input type="number" class="form-control" name="contact" value="{{data.phone}}" pattern="[0-9]{10}" title="Number Must Contains 10 Digits only"></div></td>
                            <th>Age(in year)</th><td><div class="form-group"><input type="number" class="form-control" name="age" value="{{data.age}}" min="15" max="99"></div></td>
                        </tr>
                        <tr>
                        <th>City</th><td><div class="form-group"><input type="text" class="form-control" name="city" value="{{data.city}}"></div></td>
                        <th>Gender</th><td><div class="form-group">
                            <select name="gen" id="" class="form-control">
                            
                                <option value="Male">Male</option>
                                {% if data.gender == "Female" %}
                                <option value="Female" selected>Female</option>
                                {% else %}
                                <option value="Female">Female</option>
                                {% endif%}
                        </select></td>
                        </tr>
                        <tr>
                            <th>Last Course or Degree <br/> or Qualification</th><td><div class="form-group"><input type="text" class="form-control" name="education" value="{{data.education}}"></div></td>
                            <th>Current Status</th><td><div class="form-group"><input type="text" class="form-control" name="current_status" value="{{data.current_status}}"></div></td>
                        </tr>
                        
                        
                    </tbody>
                    
                </table>
                <div class="form-group">
                    <input type="submit" id="subbtn" class="form-control btn btn-warning text-white" value="Update Profile">
                </div>
            </form>
    </div>
</div>

{% endblock %}