{% extends "base.html" %}
{% load static %}

{% block style_block %}
<style>
    @-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.home_land{
    border-bottom-right-radius: 1000%;border-top-left-radius: 100% ;
    
    background-color: black;
    width: 100%;
    height:600px;
   }
   .left-home{
        position: relative;
        top:200px;
        left: 50px;
        width: 400px;
        float: left;
   }
   .login-home{
    position: relative;
        top:180px;
        float: left;
        left: 20px;
       background-color: blanchedalmond;
       border-radius: 5px;
       width: 100%;
       height: 500px;
   }
   .nav-link{
       color: white;
   }
   .nav_fon{
       color: black;
   }
   .para{
       width: 400px;

   }
   #link1,#link2,#link3,#link4,#link5,#link6{
       color: white;
   }
   
   .marginquery{
   margin-top:20px;
   margin-bottom:20px;
   }
   @media only screen and (max-width: 600px) {
.marginquery{
   margin-top:0px;
   margin-bottom:0px;
   }
   }
   .loginformmarginquery{
   margin-top:-100px;
   
   }
   @media only screen and (max-width: 600px) {
.loginformmarginquery{
   margin-top:30px;
}
   }
   
   .learnthewaymarginquery{
   margin-top:0px;
   margin-bottom: 100px;
   
   }
   @media only screen and (max-width: 600px) {
.learnthewaymarginquery{
   margin-top:250px;
   margin-bottom: 100px;
}   
   }
   .go_at_3{
       background-color: black;
   }
</style>
{% endblock %}

{% block content_block %}
<!-- TOP HEADER BACKGROUND STARTS-->
<div class="row px-0 home_land">
                
    <div class="col-md-5 left-home">
        <h4 class="text-warning">THE SMARTEST WAY TO</h4>
        <h3 class="text-white">Learn Web Development Online</h3>
        <p class="text-secondary text-justify para">The skills people and businesses need to succeed are changing. No matter where you are in your career or what field you work in, you will need to understand the language of web. With DataCamp, you learn web development today and apply it tomorrow.</p>
        <button class="btn btn-warning">START LEARNING FOR FREE</button>
    </div>

    <!-- <div class="col-md-6 login-home text-center p-3 loginformmarginquery">
        <div class="row mt-3">
            <div class=" col-md-12 text-center text-dark">
                
                <h3 class="bounce">Create Your Free Account</h3>
            </div>
        </div>
        <div class=" row mt-3">
            <div class=" col-md-4 mt-2">
                <button class=" btn btn-primary form-control "><i class="fab fa-linkedin mr-1" style="font-size: 20px;"></i> LinkedIn</button>
            </div>
            <div class=" col-md-4 mt-2">
                <button class=" btn  form-control" style=" background:blue;color:white; "> <i class="fab fa-facebook-square mr-1" style="font-size: 20px;"></i>Facebook</button>
            </div>
            <div class=" col-md-4 mt-2">
                <button class=" btn btn-danger form-control"> <i class="fab fa-google mr-1" style="font-size:20px;color: white;border-radius: 2px;" ></i> Google</button>

            </div>

        </div>
       
        <div class="col-md-12 mt-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="text"class="py-4 form-control " placeholder="Email Adress " aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                </div>
                <input type="password"class="py-4 form-control " placeholder="Password " aria-label="Password" aria-describedby="basic-addon1">
            </div>
            <input type="text" class="btn form-control text-white btn-secondary py-4 marginquery" value="Create Free Account" >
            <div class="marginquery"><small >By continuing you accept the Terms of Use and Privacy Policy. You also accept that you are aware that your data will be stored outside of the EU and that you are above the age of 16.</small ></div>
        </div>
    </div> -->
</div>
<!-- TOP HEADER BACKGROUND ENDS-->

<!-- LEARN THE WAY START -->
<div class="row text-center mx-auto learnthewaymarginquery">
    <div class="col-md-12 text-center pt-3" style="border-top: 1px solid gray; margin-top: 150px;">
        <h1>Learn The Way You Learn Best</h1>
        <p class="mx-auto my-5"
        style="width: 80%;">You learn best when you get to apply what you learn quickly. That’s why we’ve developed Courses that combine short expert videos with immediate hands-on-the-keyboard exercises. Why we have built Practice Mode with instant and personalised feedback on every exercise. And why we have developed DataCamp Projects based on real-world problems.</p>
        <img alt="Python, R, SQL, Spark" class="dc-learn-by-doing__logoset mt-2" width="339" src="https://static.datacamp.com/static/python-r-sql-spark-dark-92c082e22af0e27a1d74369c0f6dba0b.svg">
        <img alt="Git, Shell, Spreadsheets" class="dc-learn-by-doing__logoset mt-2" width="319" src="https://static.datacamp.com/static/git-shell-spreadsheets-dark-2d8e837b6c4c6e758cb1a04c0a32a3b2.svg">
    
    </div>

</div>
<!-- LEARN THE WAY END -->

    <div class="row p-5 my-3"style="background-color: black;">
        <div class="col-sm-12 col-md-3 mx-auto bg-white p-4 my-1">
            <div class="row px-0">
            <div class="col-md-2">
                <img alt="Go at your own pace" data-purpose="unit-icon" width="42" height="42" class="" src="https://i.udemycdn.com/browse_components/value-props-unit/go_own_pace.svg">
            </div>
            <div class="col-md-10">
                <span style="font-size: 20px;"><b>Go at your own pace</b></span>
            <p style="color: rgb(194, 194, 194);">Enjoy lifetime access to courses on Udemy’s website and app</p>
            </div>
            </div>
            
        </div>
        <div class="col-sm-12 col-md-3 mx-auto bg-white my-1 p-4">
            <div class="row px-0">
            <div class="col-md-2">
                <img alt="Learn from industry experts" data-purpose="unit-icon" width="40" height="43" class="" src="https://i.udemycdn.com/browse_components/value-props-unit/learn_from_experts.svg">
            </div>
            <div class="col-md-10">
                <span style="font-size: 20px;"><b>Learn from industry experts</b></span>
            <p style="color: rgb(138, 135, 135);">Select from top instructors around the world</p>
                
            </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 mx-auto my-1 bg-white p-4">
            <div class="row px-0">
            <div class="col-md-2">
                <img alt="Find video courses on almost any topic" data-purpose="unit-icon" width="44" height="44" class="" src="https://i.udemycdn.com/browse_components/value-props-unit/video_courses.svg">
            </div>
            <div class="col-md-10">
                <span style="font-size: 20px;"><b>Find video courses on almost any topic</b></span>
            <p style="color: rgb(194, 194, 194);">Build your library for your career and personal growth</p>
            </div>
            </div>

        </div>
    </div>


    <div class="row mx-0 my-4 py-4"  >
        <div class="col-md-12 text-center my-5">
            <h1>Latest Courses</h1>
        </div>
                <div class="row shadow-lg" >
                       
       
                   <div class="col-md-3 mt-2 mb-2 shadow-sm ">
                       <div class="card  text-center" >
                           <div class="ch">
                               <img class="card-img-top" src="{% static 'images/jq1.jpg'%}" style="width: 100%; height: 250px;" alt="Card image cap">
                           </div>
                           <div class="card-body">
                             <h5 class="card-title"><strong>JQUERY</strong></h5>
                             <p class="card-text">jQuery is a JavaScript library that allows web developers to add extra functionality to their websites.</p>
                             <div class="linec "></div>
                             <br>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                           </div>
                      
                       </div>
                   </div>
                   <div class="col-md-3 mt-2 mb-2 shadow-sm ">
                       <div class="card  text-center" >
                           <div class="ch">
                               <img class="card-img-top" src="{% static 'images/py2.jpg'%}" style="width: 100%; height: 250px;" alt="Card image cap">
                           </div>
                           <div class="card-body">
                             <h5 class="card-title"><strong>PYTHON</strong></h5>
                             <p class="card-text">Python is a high-level programming language designed to be easy to read and simple to implement.</p>
                             <div class="linec "></div>
                             <br>
                             <a href="#" class="btn btn-primary">Go somewhere</a>
                           </div>
                      
                       </div>
                   </div>
                   <div class="col-md-3 mt-2 mb-2  shadow-sm ">
                       <div class="card  text-center" >
                           <div class="ch">
                               <img class="card-img-top" src="{% static 'images/js6.png'%}" style="width: 100%; height: 250px;" alt="Card image cap">
                           </div>
                           <div class="card-body">
                             <h5 class="card-title"><strong>JAVA SCRIPT</strong></h5>
                             <p class="card-text">JavaScript is a programming language commonly used in web development and dynamic websites.</p>
                             <div class="linec "></div>
                             <br>
                             <a href="#" class="btn btn-primary">Go somewhere</a>
                           </div>
                      
                       </div>
                   </div>
                  
       
                   
                   <div class="col-md-3 mt-2 mb-2 shadow-sm ">
                       <div   >
                           <div class="card   text-center " >
                               <div class="ch">
                                   <img class="card-img-top" src="{% static 'images/dj.png'%}" style="width: 100%; height: 250px;" alt="Card image cap">
                               </div>
                               <div class="card-body">
                                 <h5 class="card-title"><strong>DJANGO</strong></h5>
                                 <p class="card-text">Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.</p>
                                 <div class="linec "></div>
                                 <br>
                                
                                 <a href="#" class="btn btn-primary">Go somewhere</a>
                               </div>
                           </div>
       
                       </div>
                   </div>
       
               
               
    </div>
    <!-- COURSES END -->
    
    
    </div>

    <!-- OUR TEACHERS PART START -->
    <div class="row my-5">
        <div class="col-md-7 text-center ">
            <h1>Our Best Teachers</h1>
            <div class="carousel slide px-0 mx-0 " data-ride="carousel" id="teach">
                <ul class="carousel-indicators" >
                    <li data-target="#teach" data-slide-to="0" class="active "></li>
                    <li data-target="#teach" data-slide-to="1" ></li>
                    <li data-target="#teach" data-slide-to="2" ></li>
                   
                </ul>
                <div class="carousel-inner">
                    
                    <div class="carousel-item active px-0 "> 
                    <div class="text-center p-5"style="width:100%;height:300px;background-color: blanchedalmond;color:white;">
                        <img src="{% static 'images/prof1.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h3>CHRIS PARAK</h3>
                           <p>HTML/CSS</p>
                    </div>
                    </div>
                    
                    <div class="carousel-item  px-0 "> 
                    <div class="text-center p-5"style="width:100%;height:300px;background-color: blanchedalmond;color:white;">
                        <img src="{% static 'images/prof2.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h3>PETER PARKER</h3>
                           <p>PYTHON</p>
                    </div>
                    </div>
                    
                    <div class="carousel-item  px-0 "> 
                    <div class="text-center p-5"style="width:100%;height:300px;background-color: blanchedalmond;color:white;">
                        <img src="{% static 'images/prof3.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h3>JAIDEEP</h3>
                           <p>REACT NATIVE</p>
                    </div>
                    </div>
                    
                    <div class="carousel-item  px-0 "> 
                    <div class="text-center p-5"style="width:100%;height:300px;background-color: blanchedalmond;color:white;">
                        <img src="{% static 'images/prof4.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h3>GAGAN</h3>
                           <p>DJANGO</p>
                    </div>
                    </div>
                    
                    <div class="carousel-item  px-0 "> 
                    <div class="text-center p-5"style="width:100%;height:300px;background-color: blanchedalmond;color:white;">
                        <img src="{% static 'images/prof5.jpg'%}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                           <h3>JASKARAN</h3>
                           <p>PHP</p>
                    </div>
                    </div>
                    
                </div>
    
                <a href="#feed" class="carousel-control-prev"  data-slide="prev">
                    <span class="carousel-control-prev-icon" ></span>
                </a>
    
                
                <a href="#feed" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
    
        </div>


        <div class="col-md-5 my-5">
            <h1>Valuable Feedbacks</h1>
            <div class="carousel slide px-0 mx-0 " data-ride="carousel" id="feed">
                <ul class="carousel-indicators" >
                    <li data-target="#feed" data-slide-to="0" class="active "></li>
                    <li data-target="#feed" data-slide-to="1" ></li>
                    <li data-target="#feed" data-slide-to="2" ></li>
                   
                </ul>
                <div class="carousel-inner">

                    {% for i in messages %}
                        {% if i.id == 1 %} 
                            <div class="carousel-item active px-0 ">
                        {% else %}
                            <div class="carousel-item  px-0 ">
                        {% endif %}
                                       
                        <div class="text-center p-5"style="width:100%;height:200px;background-color: gray;color:white;">
                            
                            <p>{{i.message}}</p>
                            <h3>{{i.fname}}</h3>
                            
                        </div>
                        
                    </div>
                    {% endfor %}
                    
                    
                </div>
    
                <a href="#feed" class="carousel-control-prev"  data-slide="prev">
                    <span class="carousel-control-prev-icon" ></span>
                </a>
    
                
                <a href="#feed" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
    
        </div>
          
    </div>
    <!-- OUR TEACHERS PART END -->
    

{% endblock %}



