{% extends "base_dashboard.html" %}
{% load static %}
{% load bootstrap4 %}
        {% block top_block %}
        <h1 class=" text-white mt-4 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Student Dashboard & Tutor Dashboard</h1>
        {% endblock %}
{% block dashboard %}
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Course ID</th>
                    <th>Course Image</th>
                    <th>Course Name</th>
                    <th>Teacher Name</th>
                    <th>Course Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for c in courses %}
                    <tr>
                        <td>{{c.id}}</td>
                        <td><img src="/media/{{c.cover_image}}" style="height: 150px; width: 150px;" alt=""></td>
                        <td>{{c.course_title}}</td>
                        <td>{{c.teacher.username}}</td>
                        <td>
                            <a href="" data-toggle="modal" data-target="#m{{c.id}}" class="btn btn-success"> <i class="fa fa-eye"> View </i> </a>
                            <a href="{% url 'update_course' %}?cid={{c.id}}" class="btn btn-primary"> <i class="fa fa-edit"> Edit </i> </a>
                            <a href="{% url 'delete_course' %}?cid={{c.id}}" class="btn btn-danger"> <i class="fa fa-trash"> Delete </i> </a>
                        </td>
                    </tr>
                    <div class="modal fade" id="m{{c.id}}" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="text-center">Courses Details</h3>
                                    <button class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <img src="/media/{{c.cover_image}}" style="height: 150px; width: 100%;" alt="">
                                    <h1>
                                        <a href="{% url 'single_course' %}?cid={{c.id}}"> {{c.course_title}}</a>
                                    </h1>
                                    <p>({{c.course_category.name}})</p>
                                    <h3><strong> &#8377; {{c.course_price}}</strong></h3>
                                    <!-- <a href="" class="btn btn-success">{{c.course_type}}</a> -->
                                    <p>{{c.description}}</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'single_course' %}?cid={{c.id}}" class="btn btn-success">View Details</a>
                                </div>
                            </div>   
                        </div>
                    </div>
                    


                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}