{% extends "base.html" %}
{% load static %}
{% block top_block %}
<h1 class=" text-white mt-4 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Product Details</h1>
{% endblock %}
{% block content_block %}
    <div class="row">
        <div class="col-md-7 mx-auto">
           
        </div>
    </div>
{% endblock  %} 