{% extends "base_dashboard.html" %}
{% load static %}
    {% block top_block %}
    <h1 class=" text-white mt-4 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Student Dashboard & Tutor Dashboard</h1>
    {% endblock %}

{% block dashboard %} 
<div class="row">
    <div class="col-md-12">
        <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"></h1>
    </div>
</div>
<div class="row">
{% for i in student %}
    <div class="col-md-4 p-3">
        <div class="card" style="box-shadow: 0px 0px 25px grey;">
            <div class="card-header">
                
                {% if i.profile_pic %}
                <img src="/media/{{i.profile_pic}}" class="user_img" alt="" style="height: 200px;width: 100%;">
                {% else %}
                <img src="{% static '/images/icon_img.jpg'%}" class="user_img" alt="" style="height: 200px;width: 100%;"> 
                {% endif %} 
            
            </div>
            <div class="card-body">
                <h4>{{i.first_name}} {{i.last_name}}</h4>
                <p>{{i.username}}</p>
                <p>{{i.contact}}</p>
                <p><em>{{i.email}}</em></p>
                <p>Member Since:{{i.join}}</p>

            </div>
        </div>
    </div>
{% endfor %}    
</div>


{% endblock %}