{% extends "base_dashboard.html" %}
    {% block top_block %}
    <h1 class=" text-white mt-4 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Student Dashboard & Tutor Dashboard</h1>
    {% endblock %}

{% block dashboard %} 
<div class="row">
    <div class="col-md-12">
        <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% for i in order_history %}
            <div class="card my-5">
                <div class="card-header">
                    <strong class="float-left">Order ID:{{i.order_id}}</strong>
                    <strong class="float-right">Processed On:{{i.date}}</strong>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                    {% for j in i.courses %}
                        <tr>
                            <td>
                                <img src="/media/{{j.cover_image}}"  style="height: 200px; width: 200px;" alt="">
                            </td>
                            <td><h4><strong>{{j.course_title}}</strong></h4></td>
                            <td><h4><strong>&#8377;{{j.course_price}}</strong></h4></td>
                            <td>
                                {% if i.status %}
                                <a href="{% url 'videos' %}?cid={{j.id}}" class="btn btn-success"><i class="fa fa-eye">Tutorial</i></a>
                                {% endif %}
                            </td>
                        </tr>

                        
                    {% endfor %}
                    </table>
                </div>
                <div class="card-footer">
                    <table class="table">
                        <tr>
                            <th>INVOICE ID</th>
                            <td>{{i.invoice}}</td>
                            <th>STATUS</th>
                            <td>
                                {% if i.status %}
                                    <button class="btn btn-success btn-block">Success</button>
                                {% else %}
                                    <button class="btn btn-danger btn-block">Pending</button>    
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        {% endfor %}
    </div>
</div>


{% endblock %}