{% extends "base.html" %}
{% load static %}
{% block content_block %}
<div class="row px-0 ">
    <div class="col-md-12 top_back  px-0">
        
        <h1 class="text-center text-white " style="font-family: 'Satisfy';font-weight: bold;"> </h1>
    </div>
</div>

<div class="row ">
    <div class="col-md-6 mx-auto my-3 p-5 text-center" style="box-shadow: 0px 0px 25px gray;"  >
        <img src="{% static 'images/success.gif' %}" style="height: 300px; width: 300px;" alt="">
        <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" class="alert alert-success mt-5">Payment Success</h1>
        <div class="my-3">
            <a href="{% url 'add_to_cart' %} " class="btn btn-success">Continue Shopping</a>
            <a href="{% url 'stu_dashboard' %}" class="btn btn-warning">Go To Dashboard</a>
        </div>
    </div>
</div>

{% endblock %}