{% extends "base.html" %}
{% load static %}
{% block content_block %}
<div class="row px-0 ">
    <div class="col-md-12 top_back  px-0">
        
        <h1 class="text-center text-white " style="font-family: 'Satisfy';font-weight: bold;"> </h1>
    </div>
</div>

<div class="row ">
    <div class="col-md-6 mx-auto my-5 p-5 text-center" style="box-shadow: 0px 0px 25px gray;"  >
        <h1 class="text-warning">Click Here To Continue</h1>
        {{form.render}}
    </div>
</div>

{% endblock %}