{% extends "base_dashboard.html" %}
    {% block top_block %}
    <h1 class=" text-white mt-4 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Student Dashboard & Tutor Dashboard</h1>
    {% endblock %}

{% block dashboard %} 

<div class="row">
   <div class="col-md-6  p-3 bg-light my-5 mx-auto shadow shadow-lg">
   <h3 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Send Email</h3>
        {% if message %}
            <div class="alert {{cls}}">{{message}}</div>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="">To</label>
                <input type="text" class="form-control"  placeholder="To" name="to" id="">
            </div>
            <div class="form-group">
                <label for="">Subject</label>
                <input type="text" class="form-control"  placeholder="subject" name="sub" id="">
            </div>
            <div class="form-group">
                <label for="">Message</label>
                <textarea name="msz" id="" cols="" placeholder="Enter ur Message" class="form-control" rows="5"></textarea>
            </div>
            <div class="form-group">
                <input type="submit"  value="Send Email" class="btn btn-outline-primary rounded-pill" name="" id="">
            </div>
        </form>
       
    </div>
</div>

{% endblock %}