{% extends "base.html" %}
{% load static %}
{% block style_block %}
<style>
    th{
        width: 50%;
    }
</style>

{% endblock %}

        
{% block content_block %}
<div class="container-fluid px-0">
    <div class="row px-0 ">
        <div class="col-md-12 top_back  px-0">
            <h1 class="text-center text-white " style="font-family: 'Satisfy';font-weight: bold;">Courses Details</h1>
            <!-- <h5 class="text-white track ">Home > About</h5> -->
            
        </div>
    </div>
</div>

    <div class="row mt-5">
        <div class="col-md-7 ">
            <div class="card">
                <div class="card-header">
                    <h3>COURSE DETAILS</h3>
                </div>
                <div class="card-body">
                        <div class="text-center" >
                    <img src="/media/{{course.cover_image}}" alt="" style="height: 150px; width: 60%;">
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>COURSE ID</th>
                            <td>{{course.id}}</td>
                        </tr>
                        <tr>
                            <th>COURSE NAME</th>
                            <td>{{course.course_title}}</td>
                        </tr>
                        <tr>
                            <th>COURSE PRICE</th>
                            <td>{{course.course_price}}</td>
                        </tr>
                        <tr>
                            <th>COURSE DESCRIPTION</th>
                            <td>{{course.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <h4>TEACHER DETAILS</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>FIRST NAME</th>
                            <td>{{course.teacher.first_name}}</td>
                        </tr>
                        <tr>
                            <th>LAST NAME</th>
                            <td>{{course.teacher.last_name}}</td>
                        </tr>
                        <tr>
                            <th>EMAIL</th>
                            <td>{{course.teacher.email}}</td>
                        </tr>
                        <tr>
                            <th>MEMBER SINCE</th>
                            <td>{{course.teacher.date_joined}}</td>
                        </tr>

                    </table>
                </div>
            </div>
        <div class="card">
                <div class="card-header">
                    <h3>CATEGORY DETAILS</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>CATEGORY ID</th>
                            <td>{{course.course_category.id}}</td>
                        </tr>
                        <tr>
                            <th>CATEGORY NAME</th>
                            <td>{{course.course_category.name}}</td>
                        </tr>
                        <tr>
                            <th>CATEGORY IMAGE</th>
                            <td>
                                <img src="/media/{{course.course_category.cover_pic}}"  style="height: 150px; width: 100px;"  alt="">
                            </td>
                        </tr>
                        <tr>
                            <th>CATEGORY DESCRIPTION</th>
                            <td>{{course.course_category.description}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}