{% extends "base_dashboard.html" %}
        {% block top_block %}
        <h1 class=" text-white mt-4 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Student Dashboard & Tutor Dashboard</h1>
        {% endblock %}

{% block dashboard %}
<div class="row">
        <div class="col-md-8">
                <h1>View Profile</h1><img src="/media/{{data.profile_pic}}" style="height: 70px; width:70px;border-radius: 100%;"alt="">
        </div>
</div>                
                
<div class="row">
        <div class="col-md-12 p-2">
                <table class="table">
                        <tbody>
                                <tr>
                                    <th>User Id</th><td>{{user.id}}</td><th>User Name</th><td>{{user.username}}</td>
                                </tr>
                                <tr>
                                  <th>Full Name</th><td>{{user.first_name}} {{user.last_name}}</td><th>Contact Number</th><td>{{data.phone}}</td>
                                </tr>
                                    
                                    <tr>
                                        <th>Email</th><td>{{user.email}}</td><th>Last Course</th><td>{{data.education}}</td>
                                    </tr>
                                    <tr>
                                        <th>Age</th><td>{{data.age}}</td><th>Gender</th><td>{{data.gender}}</td>
                                    </tr>
                                    <tr>
                                        <th>City</th><td>{{data.city}}</td><th>Current Status</th><td>{{data.current_status}}</td>
                                    </tr>
                        </tbody>
                </table>
                    
        </div>
</div>
        



{% endblock %}                     
        
{% block my_block%}

{% endblock%}