{% extends "base_dashboard.html" %}
{% load static %}
{% block style_block %}
<style>
   .stuimg{
    background-size: 100% 100%;
    height: 400px;
    width: 500px;
}
.side_menu_ul{
background-color: black;
}
.nav_bar{
    background-color: black;
    
}
.user_img{
    width: 100px;
    height: 100px;
    border-radius: 50% 50%;
}
.view_img{
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
}
</style>
{% endblock %}

{% block content_block %}
        {% block top_block %}
        <h1 class=" text-white mt-5 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Tutor Dashboard</h1>
        {% endblock %}
<div class="row my-5">
    <div class="col-md-2 nav_bar pl-4">
        <nav class="navbar">
            <div class="text-center">
            <img src="/media/{{data.profile_pic}}" class="user_img border ml-3 border-secondary"alt="">
            </div>
            <ul class="navbar-nav side_menu_ul">
                <li class="nav-item">
                    <h4 class="text-white p-2">{{user.username}}</h4>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link p-2" data-toggle="modal" data-target="#viewprofile">View Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link p-2">Edit Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link p-2">My Courses</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link p-2">Educational Details</a>
                </li>
                
                <li class="nav-item">
                    <a href="" class="nav-link p-2">Change Password</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'user_logout'%}" class="nav-link p-2">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9 mx-auto border p-2  text-center shadow-sm">
        <h2>Welcome {{user.first_name}} {{user.last_name}}</h2>
       
        
        
    </div>

   
</div>

{% endblock %}