{% extends "base_dashboard.html" %}
{% load static %}
   
    {% block top_block %}
    <h1 class=" text-white mt-4 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Student Dashboard & Tutor Dashboard</h1>
    {% endblock %}



{% block dashboard %} 
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Edit Courses</h3>
                </div>
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <img src="/media/{{course.cover_image}}" style="height: 250px; width: 100%;" alt=""><br>
                            </div>    
                                <div class="col-md-6 mt-4">
                                    <label for=""><strong>UPDATE IMAGE</strong></label>
                                </div>
                                <div class="col-md-6 mt-4">
                                    <div class="form-group">
                                        <input type="file" name="cimg" id="">
                                    </div> 
                                </div>  
                                <div class="col-md-6 ">
                                    <label for=""><strong>UPDATE VIDEO</strong></label>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <input type="file" name="video" id="">
                                    </div> 
                                </div>  
                            <div class="col-md-6 ">
                                <label for=""> <strong> COURSE NAME</strong> </label>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="pname" id="" value="{{course.course_title}}">
                                </div>      
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for=""><strong> COURSE CATEGORY</strong> </label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select name="cat" id="" class="form-control">
                                        {% for i in category %}
                                            {% if i.id == course.course_category.id  %}
                                            <option value="{{i.id}}" selected>{{i.name}}</option>
                                            {% else %}
                                            <option value="{{i.id}}">{{i.name}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for=""> <strong> COURSE PRICE</strong> </label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="number" name="cp" id="" class="form-control" value="{{course.course_price}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for=""> <strong>DESCRIPTION</strong>  </label>  
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea name="des" id="" cols="" rows="5" class="form-control" >{{course.description}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-warning" value="SAVE CHANGES" name="" id="">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    {% if status %}
        <script>
            alert("{{status}}");
            window.location ="/update_course/?cid={{id}}";
        </script>
    
    {% endif %}
{% endblock %}