{% extends "base.html" %}
{% load static %}
{% block style_block %}


{% endblock %}

{% block content_block %}
    <div class="row px-0">
        <div class="col-md-12 bg-dark p-5 px-0">
        {% if status %}
            <h1 class="text-center text-white mt-5 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">{{status}}</h1>
        {% else %}
            <h1 class="text-center text-white mt-5 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Videos</h1>
        {% endif %}
        </div>
    </div>
{% if user.is_authenticated %}    
    <div class="row">
        <div class="col-md-8 mx-auto">
            
           <div class="card shadow shadow-lg my-4">
               <div class="card-header">
                <h3>
                    <a href=""> {{video.course_title}}</a>
                </h3>
               </div>
               <div class="card-body">
                    <video src="/media/{{video.course_video}}"  style="height: 400px; width:100%"  controls="controls"></video>
                        
                        
                </div>
                <div class="card-footer">
                    <p>({{video.course_category.name}})</p>
                </div>
           </div> 
           
        </div>

    </div>
{% endif %}    
{% endblock %}