{% extends "base_dashboard.html" %}
{% load static %}
   
    {% block top_block %}
    <h1 class=" text-white mt-4 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Student Dashboard & Tutor Dashboard</h1>
    {% endblock %}



{% block dashboard %} 
    <div class="row">
        <div class="col-md-8 mx-auto">
            
           <div class="card shadow shadow-lg my-4">
               <div class="card-header">
                <h3>
                    <a href=""> {{video.course_title}}</a>
                </h3>
               </div>
               <div class="card-body">
                    <video src="/media/{{video.course_video}}"  style="height: 400px; width:100%"  controls="controls"></video>
                        
                        <p>({{video.course_category.name}})</p>
                </div>
           </div> 
           
        </div>

    </div>
    
{% endblock %}